.input-group {
    display: flex;
    flex-direction: column; /* Dàn theo chiều dọc */
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #2a7fe6;
}

.input-group input,
.input-group select,    
.input-group .date-picker {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.input-group .date-picker {
    display: block;
}
